@charset "utf-8";

/* reset */
html {
    scroll-behavior: smooth; 
}
body {
    min-width: 1280px;
    padding: 0;
    margin: 0;
}
.inner {
    margin: 0 auto;
}
li {
   list-style: none;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* nav */
nav {
    display: inline-block;
    position: fixed;
    width: 100%;
    top: 0px;  
    justify-content: center;
    z-index: 999;
    background-color: rgb(0, 0, 0);
}
.gnb {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.gnb-item {
    padding: 12px 50px;
    font-size: 20px;
    transition: 0.2s;
}
.gnb-item a{
    color: #fff;
}
.gnb-item:hover a {
    color: #0071e3;
}
.gnb-item.active a {
    color: #0071e3;
}

/*section1 introduce*/
#sec1 {
    margin: 50px 0; /* section 위 아래 margin 주기 */
    padding: 50px 0; /* section 위 아래 padding 주기 */
    position: relative;
}
.introduce h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 50px 0; /* 제목 기준으로 제목과 본문 위 아래 margin */
}
.introduce-content {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    color: #000;
}
/* section2 profle*/
#sec2 {
    margin: 50px 0; /* section 위 아래 margin 주기 */
    padding: 50px 0; /* section 위 아래 padding 주기 */
    position: relative;
}
.profile h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 50px 0; /* 제목 기준으로 제목과 본문 위 아래 margin */
    text-align: center;
}
.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile-photo {
    width: 450px; /* 사진 크기는 안 변하니 고정값 450px */
}
.profile-photo img {
    width: 100%; /* 사진 부모 박스에 다 채우기 */
    border-radius: 20px;
}
.profile-information {
    width: 450px; /* profile-photo와 같은 width */
    padding-left: 50px; /* profile-photo와의 간격 */
}
.profile-information dl {
    width: 150%; /* 한 줄에 다 들어갈 수 있도록 */
}
.profile-information dt {
    font-size: 18px;
    float: left;
    font-weight: bold;
}
.profile-information dd {
    /* font-size: 16px 기본 */
    margin: 0 0 50px 150px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlayButton{
    top:10px;
}

#map{
    top: 25%;
    left: 25%;
    width:50%;
    height:650px;
    position: absolute;
}  
/* section3 skills*/
#sec3 {
    margin: 50px 0; /* section 위 아래 margin 주기 */
    padding: 50px 0; /* section 위 아래 padding 주기 */
    position: relative;
}
.skills h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 50px 0; /* 제목 기준으로 제목과 본문 위 아래 margin */
    text-align: center;
}
.skills-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-class {
    width: 600px;
}
.skills-class h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}
/* all */
.skills-all {
    width: 100%;
    display: flex;
    flex-flow: row wrap; /* 자격증 section은 flex-flow 사용 */
    justify-content: start;
    margin: 0 auto;
    padding: 0;
}
.skills-all li {
    width: 60px;
    height: 100px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #eee;
    border-radius: 20px;
    margin: 20px; /* 스택들 사이 간격 */
    cursor: pointer;
}
.skills-all li:hover img {
    transform: scale(1.1);
}
.skills-all li>img {
    width: 100%;
    transition: 0.2s;
}
.skills-all li>p {
    font-size: 12px; /* 작은 p 태그 텍스트들은 전부 12px */
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
/* section4 portfolio */
#sec4 {
    margin: 50px 0; /* section 위 아래 margin 주기 */
    padding: 50px 0; /* section 위 아래 padding 주기 */
    position: relative;
}
.portfolio {
    width: 100%;
    position: relative;
}
.portfolio h1 {
    /* section4만 가로로 길게 슬라이드가 들어가서 제목이 상위에 있음 */
    margin: 50px 0; /* 제목 기준으로 제목과 본문 위 아래 margin */
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
/* section5 contact */
#sec5 {
    margin: 50px 0; /* section 위 아래 margin 주기 */
    padding: 50px 0; /* section 위 아래 padding 주기 */
    position: relative;
}
.contact {
    text-align: center; /* 가로 가운데 정렬 */
}
.contact h1 {
    margin: 50px 0; /* 제목 기준으로 제목과 본문 위 아래 margin */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.contact-card {
    width: 543px; /* 1087px 반 */
    height: 307px; /* 614px 반 */
    margin: 0 auto;
    perspective: 1000px; /* 카드 플립 애니메이션, 원근감 줌 */
}
.contact-card-front {
    width: 543px; /* 1087px 반 */
    height: 307px; /* 614px 반 */
    background-color: #333;
    position: relative;
    backface-visibility: hidden; /* 카드 플립 애니메이션, 뒷면 안 보이게 처리 */
    transition: 1s; /* 카드 플립 애니메이션 */
}
.contact-card-front-picture img{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 20%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.contact-card-front-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-card-front-content p {
    font-size: 20px;
    font-weight: 100;
    color: #eee;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #eee;
}
.contact-card-front-content p:nth-of-type(2) {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 5px;
    line-height: 34px;
}
.contact-card-back {
    width: 543px;
    height: 307px;
    background-color: #333;
    position: relative;
    backface-visibility: hidden; /* 카드 플립 애니메이션, 뒷면 안 보이게 처리 */
    transition: 1s; /* 카드 플립 애니메이션 */
}
.contact-card-back-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-card-back-left {
    width: 50%;
    padding-top: 19px;
}
.contact-card-back-left p {
    font-size: 20px;
    font-weight: 100; /* 얇게 */
    color: #eee;
    margin: 0;
    padding: 0;
}
.contact-card-back-left p:nth-of-type(2) {
    font-size: 14px;
}
.contact-card-back-right {
    width: 50%;
}
.contact-card-back-right a {
    margin: 0;
    padding: 0;
    color: #eee;
    font-size: 14px;
    font-weight: 100;
    float: left;
    line-height: 28px;
    transition: 0.2s;
}
.contact-card-back-right a:hover {
    color: #0071e3;
}

.front {
    position: absolute;
    transform: rotateY(0deg);
}
.contact-card:hover .contact-card-front.front {
    transform: rotateY(180deg);
}
.contact-card-back.back {
    transform: rotateY(-180deg); 
}
.contact-card:hover .contact-card-back.back {
    transform: rotateY(0deg);
}

.contact-email {
    margin: 0 auto;
    width: 50%;
}

.contact-email input {
    border: none;
    background-color: #000000;
    color: #fff;
    margin-top: 50px;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    transition: 0.2s;
}
.contact-email input:hover {
    transform: scale(1.05);
}

/* footer */
footer {
    height: 100px; /* 100px 고정값 */
    background-color: #ddd;
    text-align: center;
    position: relative;
}
.footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-content p {
    font-size: 12px;
    color: #333;
}
.footer-content a {
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    transition: .2s;
}
.footer-content a:hover {
    color: #0071e3;
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    /* 내가 추가한 코드 */
    padding: 100px 0;
}
.swiper-slide img {
    width: 100%;
    object-fit: cover;
}
.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.swiper-slide-img {
    width: 40%;
}
.swiper-slide-content {
    width: 40%;
}
.swiper-slide-content>h3 {
    text-align: left;
}
.swiper-slide-content>p {
    text-align: left;
}

/* 표 */

.introduce-content-btn {
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 16px;
    transition: .4s;
}
.introduce-content-btn:hover {
    background-color: #302e2e;
    width: 85px;    
}
.introduce-content-box {
    width: 40%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0;
    display: none;
    font-weight: bold;
}
.introduce-content-box.on {
    display: block;
}